<%= form_with(model: note, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %><br>
    <%= form.text_area :body, rows: 10, id: "note_body" %>
  </div>

  <div class="preview">
    <h3>Live Preview</h3>
    <div id="markdown-preview" class="border p-3 rounded bg-gray-100"></div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
